@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2'), url('../fonts/MullerRegular.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2'), url('../fonts/MullerBold.woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Russo';
  src: url('../fonts/RussoOne-Regular.woff2'), url('../fonts/RussoOne-Regular.woff');
  font-display: swap;
  font-weight: 400;
}

:root { 
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #07060b;
  --color-cinder: #06060b;
  --color-turquoiseBlue: #46f4db;
  --color-emerald: #57d272;
  --color-persianRed: #d13130;
  --color-bittersweet: #ff6f6f;
  --color-athensGray: #ededf2;
  --color-manatee: #95959d;
  --color-jumbo: #717178;
  --color-tuna: #37373E;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  min-width: 370px;
  font-family: 'Muller', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: var(--color-dark);
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  /* перенос слов */
  word-wrap: break-word;
}

h2 {
  margin: 0;
  font-family: 'Russo', sans-serif;
  font-size: 70px;
  line-height: 84px;
  color: var(--color-dark);
}

h3 {
  margin: 0;
  font-family: 'Russo', sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: var(--color-dark);
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: var(--color-dark);
}

.desrc {
  font-weight: 400;
  font-family: 'Russo', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-dark);
}

ul {
  list-style: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  position: relative;
  padding: 25px 74px;
  border-radius: 77px; 
  cursor: pointer;
  outline: none;
  -webkit-transition: bacground-color .4s ease-in-out;
  -ms-transition: bacground-color .4s ease-in-out;
  -moz-transition: bacground-color .4s ease-in-out;
  -o-transition: bacground-color .4s ease-in-out;
  transition: bacground-color .4s ease-in-out;
}

.btn--fill::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;  
}

.btn--fill::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: var(--color-emerald);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.btn--fill:focus::before {
  opacity: 1;
}

.btn--fill:hover::before {
  opacity: 1;
}

.btn:active::after {
  opacity: 1;
}

.btn__text {
  position: relative;
  z-index: 5;
}

.form-input {
  border: none;
  border-radius: 40px;
  padding-left: 32px;
  width: 100%;
  height: 70px;
  font-size: 20px;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;  
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  /*1304px = 1276px + 12px + 12px Не менять!*/
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 12px;
}

/*биб swiper*/
.swiper {
  overflow: hidden;
}

/*Слайдер*/
.swiper-wrapper {
  height: 100%;
}

/*@keyframes в медиа запросы не ставять!!! .auction-card*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/***Шапка header-1920px ***/
.header {
  padding: 11px 0 9px;
  background-color: var(--color-white);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
  cursor: pointer;
  transition: opacity .4s ease-in-out;
}

.header__logo:focus {
  outline: 2px solid var(--color-black);
  outline-offset: 7px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__nav {
  margin-right: auto;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 32px;
}

.header__link {
  font-weight: 700;
  transition: color .3s ease-in-out;
}

.header__link:focus {
  outline: 2px solid var(--color-emerald);
  outline-offset: 4px;
  color: var(--color-cinder);
}

.header__link:hover {
  color: var(--color-turquoiseBlue);
}

.header__link:active {
  color: var(--color-emerald);
}

.header__wallet {
  display: none;
}

.header__button {
  padding: 14px 30px;
  border: 5px solid transparent;
  border-radius: 100px;  
  border: 2px solid transparent; 
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-dark);
  -webkit-transition: color .6s ease-in-out, background-color .6s ease-in-out;
  -ms-transition: color .6s ease-in-out, background-color .6s ease-in-out;
  -moz-transition: color .6s ease-in-out, background-color .6s ease-in-out;
  -o-transition: color .6s ease-in-out, background-color .6s ease-in-out;
  transition: color .6s ease-in-out, background-color .6s ease-in-out;
}

.header__button:focus {
  outline: none;
}

.header__button:hover {
  color: var(--color-dark);
  background-color: var(--color-turquoiseBlue);
}

.header__button:active {
  color: var(--color-dark);
  background-color: var(--color-emerald);
}

.header__button::after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  border: 2px solid var(--color-emerald);
  border-radius: 100px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  opacity: 0;
}

.header__button:focus::after {
  opacity: 1;
}
/*** // Шапка header-1920px ***/


/*** hero-1920px ***/
.hero {
  padding: 161px 0;
  background: url("../img/hero-stickers.png") top right no-repeat;
  background-color: var(--color-dark);
}

.hero__text {  
  width: 50%;
}

.hero__title {
  margin-bottom: 37px;
  color: var(--color-white);
}

.hero__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero__btn {
  position: relative;
  outline: none;
  display: inline-block;
  padding: 25px 54px;
  border-radius: 100px;  
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--color-dark);
  background: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
}

.hero__btn:not(:last-child) {
  margin-right: 32px;
}

.hero__btn--stroke {
  padding: 5px;
}

.hero__btn--stroke .hero__btn-text {
  display: inline-block;
  padding: 20px 49px;
  border-radius: inherit;  
  color: var(--color-white);
  background-color: var(--color-dark);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: var(--color-turquoiseBlue);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: var(--color-emerald);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:focus .hero__btn-text {
  color: var(--color-dark);
  background-color: transparent;
}

.hero__btn:focus::before {
  opacity: 1;
}

.hero__btn--fill:hover .hero__btn-text {
  color: var(--color-dark);
  background-color: transparent;
}

.hero__btn--fill:hover::before {
  opacity: 1;
}

.hero__btn--stroke:hover .hero__btn-text {
  color: var(--color-dark);
  background-color: transparent;
}

.hero__btn:active .hero__btn-text {
  color: var(--color-dark);
  background-color: transparent;
}

.hero__btn:active::after {
  opacity: 1;
}

.hero__btn-text {
  position: relative;
  z-index: 5;
}
/*** // hero-1920px ***/


/*** auction-bet-1920px ***/
.auction-bet {
  padding: 90px 0 45px;
}

.auction-bet__h3 {
  display: inline-flex;
  align-items: center;
  margin-bottom: 32px;
}

.auction-bet__span {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px 7px 13px;
  border-radius: 40px;
  border: 2px solid var(--color-persianRed);
  font-weight: 700;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--color-persianRed);
  transform: translateX(16px);
}

.auction-bet__span:before {
  content: "";
  border-radius: 100%;
  margin-right: 7px;
  width: 6px;
  height: 6px;
  background-color: var(--color-persianRed);
}

.auction-bet__content {
  display: flex;
}

.auction-bet__image {
  margin-right: 32px;
  width: 460px;
}

.auction-bet__info {
  width: calc(100% - 460px - 32px);
}

.auction-bet__owner {
  display: inline-flex;
  align-items: center;
  margin-bottom: 34px;
  padding: 11px 16px;
  border-radius: 23px;
  background-color: var(--color-athensGray);
}

.auction-bet__avatar {
  margin-right: 16px;
}

.auction-bet__nickname {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.auction-bet__h4 {
  margin-bottom: 32px;
}

.auction-bet__props {
  display: flex;
  margin-bottom: 30px;
}

.auction-bet__wager {
  display: flex;
  flex-direction: column;
  margin-right: 31px;
  padding: 32px 58px 30px 32px;
  border-radius: 40px;
  background-color: var(--color-athensGray);
}

.auction-bet__caption {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--color-dark);
}

.auction-bet__price {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: var(--color-dark);
}

.auction-bet__price-dollars {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--color-manatee);
}

.auction-bet__timer {
  flex-grow: 1;
  border-radius: 40px;
  padding: 34px 32px 30px;  
  background: url("../img/clock.svg") calc(100% - 32px) center / 121px 121px var(--color-dark) no-repeat;
}

.auction-bet__caption_white, .auction-bet__price_white, .auction-bet__price-dollars_white {
  color: var(--color-white);
}

.auction-bet__timer-content {
  display: flex;
}

.auction-bet__timer-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auction-bet__timer-part:not(:last-child) {
  margin-right: 27px;
}

.auction-bet__button {
  border: none;
  font-weight: 700;
  font-size: 20px;
  background-color: var(--color-turquoiseBlue);  
}
/*** // auction-bet-1920px ***/


/*** auction-card-1920px ***/
.auction-card {
  padding: 44px 0 90px;
}

.auction-card__h3 {
  margin-bottom: 32px;
  font-family: 'Russo', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.auction-card__swiper {
  width: 100%;
}

/*Карточки одной высоты*/
.auction-card__list {
  display: grid;
  grid-template-columns: repeat(4, 296px);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 33px;
}

/*биб*/
.swiper-container-multirow-column>.swiper-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: unset;
}

.auction-card__item.swiper-slide {
  height: auto;
}

.auction-card__item {
  display: flex;/*Для выравнивание карточек auction-card__article-info*/
}

.auction-card__article {
  display: flex;/*Для выравнивание карточек section-courses__block*/
  flex-direction: column;/*Для выравнивание карточек section-courses__block*/
  width: 100%;
}

.auction-card__article-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 7px 5px;
  border-radius: 40px 40px 0 0;
  background-color: var(--color-athensGray);
}

.auction-card__article-info {
  display: flex;/*Для выравнивание карточек li*/
  justify-content: space-between;/*Для выравнивание карточек li*/
  flex-direction: column;/*Для выравнивание карточек li*/
  padding: 16px 16px 32px;  
  height: 100%;/*Для выравнивание карточек li*/
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.auction-card__article-column {
  display: flex;
  flex-direction: column;
}

.auction-card__owner {
  display: inline-flex;
  align-items: center;
  margin-bottom: 17px;
}

.auction-card__owner-avatar {
  margin-right: 8px;
  border-radius: 100%;
  overflow: hidden;
}

.auction-card__owner-nickname {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.auction-card__article-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--color-white);
}

.auction-card__article-price {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--color-turquoiseBlue);
}

.auction-card__article-timer {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--color-manatee);
}

.auction-card__article-button {
  display: none;
  padding: 10px;
  bottom: 0; /*Для высоты картинки*/
  border: 1px solid red;
  width: max-content;
}
/* // Карточки одной высоты*/

.auction-card__btn-center {
  text-align: center;
}

/*Кнопка Все события*/
.auction-card__button {
  padding: 20px 74px;
  border: 5px solid var(--color-turquoiseBlue);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--color-dark);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color .4s ease-in-out;
}

.auction-card__button:focus {
  background-color: var(--color-turquoiseBlue);   
  outline: none;
}

.auction-card__button:hover {
  background-color: var(--color-turquoiseBlue);   
}

.auction-card__button:active {
  border: 5px solid var(--color-emerald);
  background-color: var(--color-emerald); 
}

/*Мобильный слайдер. Не удалять! */
.is-hidden {
  display: none;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
}

/*Кнопка "Все аукционы". Для .is-hidden */
.auction-card__button {
  display: block;
  margin: 0 auto;
}
/*** // auction-card-1920px ***/


/*** new-1920px ***/
.new {
  position: relative;
  padding: 90px 0 64px;
  background-color: var(--color-dark);
}

.new__slider_clone-777, .content-2, .swiper-pagination-2 {/*Покажем в 777px*/
  display: none;
}

.new__title {
  margin-bottom: 32px;
  padding-left: 64px;
  color: var(--color-white);
  background: url("../img/fire.png") left center / 48px 48px no-repeat;
  /* background: url("https://raw.githubusercontent.com/leska-ver/aura-Max/main/img/fire.png") left center / 48px 48px no-repeat; */
}

.new__slider {
  overflow: hidden;
  margin-bottom: 75px;
  width: 100%;
}

.new__stickers {
  display: flex;
}

.new__stickers picture:not(:last-child) {
  margin-right: 28px;
}

.new__pagination {
  position: relative;/*Убрали абсолют у плагина*/
  text-align: center;
}

.new__pagination .swiper-pagination-bullet {
  padding: 8px 21px;
  border: 2px solid var(--color-persianRed);
  border-radius: 40px;
  width: auto;
  height: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--color-white);
  background-color: transparent;
  opacity: 1;
  outline: none;
  -webkit-transition: border .4s ease-in-out, background-color .4s ease-in-out;
  -moz-transition: border .4s ease-in-out, background-color .4s ease-in-out;
  -ms-transition: border .4s ease-in-out, background-color .4s ease-in-out;
  -o-transition: border .4s ease-in-out, background-color .4s ease-in-out;
  transition: border .4s ease-in-out, background-color .4s ease-in-out;
}

.new__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 16px;
  margin-bottom: 16px;
}

.new__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-persianRed);
}

.new__pagination .swiper-pagination-bullet:focus, .new__pagination .swiper-pagination-bullet:hover {
  border: 2px solid var(--color-bittersweet);
  background-color: var(--color-bittersweet);
}

.new__pagination .swiper-pagination-bullet:active {
  border: 2px solid var(--color-persianRed);
  background-color: var(--color-persianRed);
}
/*** // new-1920px ***/


/*** subscribe-1920px ***/
.subscribe {
  background-color: var(--color-persianRed);
}

.subscribe__container {  
  padding-bottom: 30px;
  background: url("../img/subscribe-bg.png") calc(100% - 12px) top no-repeat;
}

.subscribe__title {
  margin-bottom: 31px;
  padding-top: 32px;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-white);
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
}

.subscribe__form-input {
  margin-bottom: 16.2px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.subscribe__form-input::placeholder {
  color: var(--color-athensGray);
}

.subscribe__form-button {
  margin-bottom: 9px;
  padding: 25px 85px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  background-color: var(--color-turquoiseBlue);
}

.subscribe__form-checkbox {
  position: relative;
  user-select: none;
}

.subscribe__form-checkbox-input {
  position: absolute;
  opacity: 0;
}

.subscribe__form-checkbox-text {
  position: relative;
  padding-left: 21px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-white);
}

.subscribe__form-checkbox-text::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid var(--color-white);
  width: 14px;
  height: 14px;
}

.subscribe__form-checkbox-text::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid var(--color-white);
  width: 14px;
  height: 14px;
  background: url("../img/check.svg") 65% center no-repeat;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.subscribe__form-checkbox-input:checked + .subscribe__form-checkbox-text::after {
  opacity: 1;
}
/*** // subscribe-1920px ***/



/*** Скачать файл become-author-1920px ***/
.become-author {
  padding: 90px 0;
}

.become-author__container {
  display: flex;
}

.become-author__title {
  margin-bottom: 20px;
  line-height: 69px;
}

.become-author__text {
  margin-right: 32px;
  width: calc(50% - 32px / 2);
}

.become-author__subtitle {
  margin-bottom: 16px;
  padding-right: 126px;  
  font-weight: 700;
}

.become-author__desrc {
  margin: 0;
  margin-bottom: 31px;
  font-family: 'Muller', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.become-author__form {
  padding-top: 10px;
  width: calc(50% - 32px / 2);
}

.become-author__file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 40px;  
  width: 100%;
  min-height: 342px;
  background: var(--color-athensGray);
  cursor: pointer;
}

.become-author__file-input {
  position: absolute;
  opacity: 0;
  appearance: none;
}

.become-author__file-icon {
  position: relative;
  margin-bottom: 17px;
  border-radius: 100%;
  border: 2px solid transparent;
  width: 100px;
  height: 100px;
  color: var(--color-athensGray);
  background-color: var(--color-white);
  -webkit-transition: border-color .4s ease-in-out, color .4s ease-in-out;
  -ms-transition: border-color .4s ease-in-out, color .4s ease-in-out;
  -moz-transition: border-color .4s ease-in-out, color .4s ease-in-out;
  -o-transition: border-color .4s ease-in-out, color .4s ease-in-out;
  transition: border-color .4s ease-in-out, color .4s ease-in-out;
}

.become-author__file-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 6px;
  background-color: currentColor;
  transform: translate(-50%, -50%);
}

.become-author__file-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 40px;
  background-color: currentColor;
  transform: translate(-50%, -50%);
}

.become-author__file-input:focus + .become-author__file-icon {
  border-color: var(--color-turquoiseBlue);
  color: var(--color-turquoiseBlue);
}

.become-author__file:hover .become-author__file-icon {
  border-color: var(--color-turquoiseBlue);
  color: var(--color-turquoiseBlue);
}

.become-author__file-input:active + .become-author__file-icon {
  border-color: var(--color-emerald);
  color: var(--color-emerald);
}

.become-author__file-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-manatee);
}

.become-author__input { 
  margin-bottom: 32.3px;
  border: 2px solid var(--color-athensGray);
  color: var(--color-jumbo);
  background-color: var(--color-white);
  -webkit-transition: bacground-color .4s ease-in-out;
  -ms-transition: bacground-color .4s ease-in-out;
  -moz-transition: bacground-color .4s ease-in-out;
  -o-transition: bacground-color .4s ease-in-out;
  transition: bacground-color .4s ease-in-out;
}

.become-author__input:focus { 
  background-color: var(--color-athensGray);
  outline: 2px solid var(--color-athensGray);
}

.become-author__input:hover { 
  background-color: var(--color-athensGray);
}

.become-author__button {
  padding: 23px 96px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  background-color: var(--color-turquoiseBlue);
}
/*** // become-author-1920px ***/


/*** top-1920px ***/
.top {
  padding: 90px 0 60px;
  background-color: var(--color-dark);
}

.top__title {
  margin-bottom: 32px;
  color: var(--color-white);
}

.top__list {
  display: flex;
  flex-wrap: wrap;
}

.top__item {
  margin-bottom: 32px;
  width: calc(50% - (32px / 2));
}

.top__item:not(:nth-child(2n)) {
  margin-right: 32px;
}

.top__product {
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: var(--color-white);
}

.top__product-image {
  margin-right: 32px;
  border-radius: 40px 0px 0px 40px;
  padding: 15px;
  padding-right: 0;
  background-color: var(--color-athensGray);  
}

.top__product-owner {
  margin-bottom: 11px;
}

.top__product-nickname {
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
}

.top__product-title {
  margin-bottom: 8px;
  font-weight: 700;
}

.top__product-price {
  font-weight: 700;
}

.top__product-price-dollars {
  font-weight: 400;
  color: var(--color-manatee);
}
/*** // top-1920px ***/


/*** top-info-1920px ***/
.top-info {
  padding: 31px 0 33px;
  background-color: var(--color-tuna);
}

.top-info__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-family: 'Muller', sans-serif;
  font-size: 24px;
  line-height: 1;
  color: var(--color-white);
}

.top-info__content {
  display: flex;
  justify-content: space-between;
}

.top-info__list {  
  margin-right: 32px;
}

.top-info__item {
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--color-white);
  background-repeat: no-repeat;
}

.top-info__item:not(:last-child) {
  margin-bottom: 16px;
}

/*Ставим иконки через before, т.к иконки режет в медиа 777рх*/
.top-info__item_1::before {
  content: '';
  position: absolute;
  background-image: url("../img/top-info-1.svg");
  width: 32px;
  height: 32px;
  margin-left: -40px;
}

.top-info__item_2::before {
  content: '';
  position: absolute;
  background-image: url("../img/top-info-2.svg");
  width: 32px;
  height: 32px;
  margin-left: -40px;
}

.top-info__item_3::before {
  content: '';
  position: absolute;
  background-image: url("../img/top-info-3.svg");
  width: 32px;
  height: 32px;
  margin-left: -40px;
} 









.top-info__decorate {
  margin-top: -37px;
}
/*** top-info-1920px ***/


/*** Подвал footer-1920px ***/
.footer {
  padding: 20px 0 0;
  background-color: var(--color-turquoiseBlue);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__top {
  padding-bottom: 19px;
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__link {
  padding: 5px 5px 2px;
  border: 2px solid transparent;
  font-weight: 700;
  -webkit-transition: border .4s ease-in-out;
  -ms-transition: border .4s ease-in-out;
  -moz-transition: border .4s ease-in-out;
  -o-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out;
}

.footer__link:focus {
  outline: none;
  opacity: .5;
}

.footer__link:hover {
  border: 2px solid var(--color-dark);
}

.footer__link:active {
  opacity: .3;
}

.footer__item:not(:last-child) {
  margin-right: 16px;
}

.footer__bottom {
  padding: 2px 12px 7px;
  text-align: center;
  background-color: var(--color-dark);
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-athensGray);
}
/*** // Подвал footer-1920px ***/






















@media (max-width: 1357px) {
  .container {
    padding: 0 36px;
  }


  /*** hero-1357px ***/
  .hero__text {
    width: 65%;
  }
  /*** // hero-1357px ***/


  /*** auction-bet-1357px ***/
  .auction-bet__props {
    flex-direction: column;
  }

  .auction-bet__wager {
    margin-right: 0;
    margin-bottom: 32px;
    max-width: max-content;
  }  

  .auction-bet__timer {
    max-width: 461px;
  }
  /*** // auction-bet-1357px ***/

  
  /*** auction-card-1357px ***/
  .auction-card__list {
    grid-template-columns: repeat(3, 1fr);
  }
  /*** // auction-card-1357px ***/


  /*** new-1357px ***/
  .new {
    padding: 90px 0 64px;
  }  

  .new__stickers {
    justify-content: center;
  }
  /*** // new-1357px ***/


  /*** subscribe-1357px ***/
  .subscribe__container {
    padding-bottom: 30px;
    background: url("../img/subscribe-bg-1024.png") calc(100% - 12px) 0% no-repeat;
    background-position-x: 93.5%;    
  }

  .subscribe__form-input {
    margin-bottom: 15.5px;
  }  
  /*** // subscribe-1357px ***/


  /*** Скачать файл become-author-1357px ***/
  .become-author__container {
    flex-direction: column;
  }

  .become-author__text {
    margin-right: 0;
    width: calc(82% - 32px / 2);
  }

  .become-author__subtitle {
    padding-right: 0;
  }

  .become-author__decorate {
    display: none;
  }

  .become-author__form {
    --size-limiter: 65.5%;/*Для фоновой картинки - become-author__file*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    width: 100%;
    background: url("../img/become-decorate-1024.png") left center no-repeat;
  }

  .become-author__file, .become-author__input {
    max-width: var(--size-limiter);
  }

  .become-author__limiter {
    max-width: var(--size-limiter);
    width: 100%;
  }
  /*** // Скачать файл become-author-1357px ***/


  /*** top-1357px ***/
  .top-info {
    padding: 33px 0;
  }
  /*** // top-1357px ***/


}


@media (max-width: 999px) {
  .hero__text {
    width: 100%;
  }

  .auction-bet__content {
    justify-content: space-between;
  }

  .auction-bet__image {
    margin-right: 20px;
    width: 296px;
    height: 296px;
  }

  .auction-bet__info {
    width: 446px;
  }

  .auction-card__item {
    width: calc(100% / 2 - 20);    
  }

  .new__slider {
    margin-bottom: 55px;
  }

  .subscribe__container {
    background: url("../img/subscribe-bg-999.png") calc(100% - 12px) 0% no-repeat;
    background-position-x: 96%;
    background-position-y: 30px;
  }

  .subscribe__form {
    max-width: 47%;
  }

  .become-author {
    padding: 82px 0 79px;
  }

  .become-author__text {
    width: 100%;
  }

  .become-author__decorate {
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .become-author__form {
    align-items: center;
    background: none;
  }

  .top {
    padding: 60px 0 42px;
  }

  .top__product-image {
    margin-right: 5px;
  } 
  
  .top__product-title {
    font-size: 34px;
  }

  .top__product-price {
    font-size: 16px;
  }


  
}

@media (max-width: 777px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__logo {
    margin-bottom: 25px;
  }
  
  .header__line {
    position: absolute;
    top: 72px;
    left: 0;
    border: 1px solid #c4c4c4;
    width: 100%;    
  }
  
  .header__nav {
    margin-right: 0;
  }

  .header__list {
    margin: 18px 0 12px;
    padding: 0;
  }

  .header__wallet {   
    position: absolute; 
    right: 36px;
    display: block;
    padding: 0;/*Чтобы button не кривил*/
    border: 1px solid transparent;    
    height: 30px;/*Чтобы button не кривил*/    
    background-color: transparent;
    -webkit-transition: outline .4s ease-in-out, fill .4s ease-in-out;
    -moz-transition: outline .4s ease-in-out, fill .4s ease-in-out;
    -ms-transition: outline .4s ease-in-out, fill .4s ease-in-out;
    -o-transition: outline .4s ease-in-out, fill .4s ease-in-out;
    transition: outline .4s ease-in-out, fill .4s ease-in-out;
  }

  .header__wallet:focus {
    outline: 1px solid var(--color-black);
    outline-offset: 4px;
  }

  .header__wallet:hover {
    outline: 1px solid var(--color-emerald);
  }

  .header__wallet:hover path {
    fill: var(--color-emerald);
  }

  .header__wallet:active {
    outline: 1px solid var(--color-turquoiseBlue);
  }

  .header__wallet:active path {
    fill: var(--color-turquoiseBlue);
  }

  .header__button {
    display: none;
  }

  .hero {
    padding: 73px 0;
  }  

  .auction-bet {
    padding: 81px 0 40px;
  }

  .auction-bet__content {
    justify-content: end;
    flex-direction: column;
  }

  .auction-bet__image {
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .auction-bet__info {
    margin: 0 auto;
  }

  .auction-card {
    padding: 40px 0 60px;
  }
  
  .auction-card__swiper {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .auction-card__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .new {
    padding: 65px 0 45px;
  }  

  .new__title {
    font-size: 45px;
    line-height: 54px;
  }
  
  .new__slider_none-777, .new__content-1, .swiper-pagination-1 {
    display: none;
  }

  .new__slider_clone-777, .new__content-2 .swiper-pagination-2 {
    display: block;
  }

  .new__slider {
    margin-bottom: 35px;
  }  

  .new__stickers {
    justify-content: space-around;
  }

  .subscribe__container {
    padding-bottom: 180px;
    background: url("../img/subscribe-bg-777.png") calc(100% - 12px) 0% no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
  }

  .subscribe__form {
    margin: 0 auto;
    max-width: 360px;
  }

  .become-author__form {
    --size-limiter: 400px;
  }
  
  .become-author__button {
    padding: 23px 60px;
  }  

  .top__product {
    flex-direction: column;
    height: 100%;
  }

  .top__product-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 0;
    padding: 15px;
    padding-bottom: 0;
    border-radius: 40px 40px 0px 0px;
    width: 100%;    
    height: 132px;
  }  

  .top__product-image img {
    justify-content: center;
  }

  .top__product-info {
    margin: 0;
    padding: 16px;
  }
  
  .top-info__content {
    flex-direction: column;
  }

  .top-info__content picture {
    margin: 0 auto;
  }

  .top-info__list {
    margin-right: 0;
  }

  .top-info__decorate {
    margin-top: 35px;
  }

  
}



@media (max-width: 515px) {
  .container {
    padding: 0 12px;
  }

  .header {
    padding: 20px 0 9px;
  }  

  .header__logo {
    margin-right: 0;
    margin-bottom: 12px;
    width: 75px;
  }

  .header__line {
    top: 68px;    
  }

  .header__wallet {
    right: 13px;
  } 

  .header__list {
    margin: 18px 0 2px;
  }

  .header__item:not(:last-child) {
    margin-right: 42px;
  }
  
  .header__link {
    font-size: 16px;
  }

  .hero {
    padding: 65px 0 210px;
    background: url("../img/hero-stickers-320.png") bottom left no-repeat;
    background-color: var(--color-dark);
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 42px;
  }

  .hero__buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__btn {    
    font-size: 16px;
  }

  .hero__btn:not(:last-child) {
    margin-bottom: 17px;
  }

  .hero__btn--fill {
    padding: 17px 39px;
  }

  .hero__btn--stroke .hero__btn-text {
    padding: 11px 22px;
  }

  .auction-bet__h3 {
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 36px;
  }

  .auction-bet__span {
    padding: 6px 10px;
    font-size: 12px;
  }

  .auction-bet__span:before {
    width: 5px;
    height: 5px;
  }

  .auction-bet__image {
    margin: 0;
    margin-bottom: 31px;
  }

  .auction-bet__owner {
    margin-bottom: 17px;
  }  

  .auction-bet__avatar {
      margin-right: 8px;
  }

  .auction-bet__nickname, .auction-bet__caption, .auction-bet__price-dollars {
    font-size: 16px;
  }

  .auction-bet__h4 {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .auction-bet__props {
    margin-bottom: 33px;
  }

  .auction-bet__wager {
    margin-bottom: 17px;
    padding: 17px 29px 16px 16px;
    border-radius: 18px;
  }  
  
  .auction-bet__price {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .auction-bet__timer {
    padding: 13px 20px 15px 16px;
    border-radius: 20px;
    max-width: max-content;
    background-color: var(--color-dark);
    background-image: none;
  }

  .auction-bet__price_white {
    margin-bottom: 6px;
  }

  .auction-bet__button {
    padding: 16px 41px;
    font-size: 16px;
  }

  /*Слайдер auction-card*/
  .auction-card__container {
    /*Чтобы слайд на слайд ненаезжал*/
    overflow-x: hidden;
  }

  .auction-card__list.swiper-wrapper {
    display: flex;
  }
  
  .auction-card__item.swiper-slide {
    width: 100%;
    margin-right: 0;
  }

  .auction-card__article {
    width: 85.7%;
  }

  .auction-card__button {
    display: block;
    padding: 10px 52px;
  }

  .swiper-pagination-bullet {
    background: #666;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 2px;
    margin-left: 11px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 2px;
  }

  .auction-card .pagination {
    margin-top: -3px;
  }

  .auction-card .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
  }

  .auction-card .swiper-pagination-bullet:not(:last-child) {
    margin-right: 10px;
  }    
  
  .pagination {
    text-align: center;
  }
  /* // auction-card - 515px*/

  .new {
    padding: 33px 0 44px;
  }

  .new__title {
    padding-left: 33px;
    font-size: 30px;
    line-height: 36px;
    background: url("../img/fire-320.png") left center / 25px 20px no-repeat;
    /* background: url("https://raw.githubusercontent.com/leska-ver/aura-Max/main/img/fire-320.png") left center / 25px 20px no-repeat; */
  }

  .new__slider {
    margin-bottom: 30px;
  }

  .new__stickers {
    justify-content: flex-start;
  }

  .new__stickers picture:not(:last-child) {
    margin-right: 32px;
  }

  .new__pagination {
    margin-left: 11px;
    text-align: start;
  }

  .new__pagination .swiper-pagination-bullet {
    margin-left: 0;
    padding: 5px 13px;
    font-size: 12px;
  }

  .new__pagination .swiper-pagination-bullet:not(:last-child) {
    margin: 0 11px 11px 0;
  }

  .subscribe__container {
    padding-bottom: 158px;
    background: url("../img/subscribe-bg-320.png") 17% bottom / calc(83% - 12px) no-repeat;
  }  

  .subscribe__title {
    margin-bottom: 16px;
  }

  .subscribe__form-input {
    width: 85.5%;
    height: 50px;
    font-size: 16px;
  }

  .subscribe__form-button {
    padding: 18px 51px 15px;
    font-size: 16px;
  }
  
  .become-author {
    padding-top: 82px;
  }

  .become-author__text {
    width: 85%;
  }

  .become-author__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
  }

  .become-author__subtitle {
    display: none;
  }

  .become-author__desrc {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 28px;
  }
  
  .become-author__decorate {
    margin-bottom: 15px;
  }

  .become-author__form {
    --size-limiter: 85.5%;
    align-items: flex-start;
  }

  .become-author__file {
    justify-content: flex-start;
    margin-bottom: 17px;
    padding: 47px 22px 46px;
    min-height: max-content;
  }

  .become-author__file-icon {
    width: 60px;
    height: 60px;
  }  

  .become-author__file-icon::before {
    width: 24px;
  }  

  .become-author__file-icon::after {
    height: 24px;
  }  

  .become-author__file-content {
    font-size: 16px;
  }  

  .become-author__input {
    margin-bottom: 17px;
    padding: 15px 30px;
    height: max-content;
    font-size: 16px;
  }

  .become-author__button {
    padding: 16px 58px;
    font-size: 16px;
  }

  .top {
    padding: 33px 0 25px;
  }

  .top__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
  }

  .top__list {
    display: grid;
    grid-template-columns: repeat(2, 132px);
    gap: 17px 32px;
  }

  .top__item {
    margin-bottom: 0;
    width: max-content;
  }  

  .top__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .top__product {
    align-items: flex-start;
    border-radius: 21.6px;
  }  

  .top__product-image {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11px 11px 0;
    border-radius: 21.6px 21.6px 0px 0px;
    height: max-content;
  }

  .top__product-info {
    padding: 16px 14px;
  }

  .top__product-title {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .top__product-price {
    font-size: 12px;
  }

  .top__product-price-dollars {
    display: block;
  }

  .top-info__title {
    width: 70%;
    font-size: 20px;
  }  

  .top-info__list {
    margin-bottom: 4px;
  }

  .top-info__item {
    width: 82%;
    font-size: 16px;
    line-height: 1;
  }  

  .top-info__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .top-info__item:nth-child(2n) {
    margin-bottom: 32px;
  }

  .top-info__item_2::before, .top-info__item_3::before {
    top: -8px;
  }

  .top-info__content picture {
    margin: 0;
  }

  .footer__top {
    position: relative;
    padding-bottom: 11px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 30px;
    width: 75px;
  }

  .footer__line {
    position: absolute;
    top: 48px;
    left: 0;
    border: 1px solid #c4c4c4;
    width: 100%;
  }

  .footer__link {
    font-size: 16px;
  }





  
}